@page
@model sms.Pages.Grades.EditModel

@{
    ViewData["Title"] = "Редагувати";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редагувати</h1>

<h4>@Model.Grade.FullName клас</h4>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Grade.Id" />
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Grade.Number" class="control-label"></label>
                <input asp-for="Grade.Number" class="form-control" />
                <span asp-validation-for="Grade.Number" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Grade.Letter" class="control-label"></label>
                <input asp-for="Grade.Letter" class="form-control" />
                <span asp-validation-for="Grade.Letter" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Grade.Room" class="control-label"></label>
                <input asp-for="Grade.Room" class="form-control" />
                <span asp-validation-for="Grade.Room" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Назад
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
