@page
@model Disable2faModel
@{
    ViewData["Title"] = "Відключення двофакторної автентифікації (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ця дія лише відключить двофакторну автентифікацію.</strong>
    </p>
    <p>
        Відключення двофакторної аутентицікації не змініює ключі у застосунках з автентифікації. Якщо бажаєте змінити ключ, 
        що використовується у застосунку з автентифікації, Вам слід <a asp-page="./ResetAuthenticator">скинути Ваші ключі автентифікатора.</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Відключити двофакторну автентифікацію</button>
    </form>
</div>
