@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Генерація кодів відновлення двофакторної автентифікації";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Зберігайте ці коди у безпечному місці.</strong>
    </p>
    <p>
        Якщо ви втратите ваш пристрій і не матимете коди відновлення, ви втратите доступ до свого облікового запису.
    </p>
    <p>
        Генерація нових кодів відновлення не змінює ключі, які використовуються у застосунках автентифікації. Якщо Ви бажаєте змінити ключ, 
        який використовується у застосунку автентифікації, Вам слід <a asp-page="./ResetAuthenticator">скинути Ваші ключі автентифікатора.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Генерувати коди відновлення</button>
    </form>
</div>