@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Підтвердження скидання паролю";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль скинуто. Будь ласка, <a asp-page="./Login">натисніть тут, щоб увійти</a>.
</p>
