@page
@model sms.Pages.Teachers.CreateModel

@{
    ViewData["Title"] = "Створити";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Створити</h1>

<h4>Вчитель</h4>
<hr />

<form enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Patronymic" class="control-label"></label>
                <input asp-for="Teacher.Patronymic" class="form-control" />
                <span asp-validation-for="Teacher.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.ProfilePicture" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="FormFile" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Оберіть файл</label>
                </div>
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
            <div>
                <a asp-page="Index">Назад</a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label asp-for="Teacher.Subjects" class="control-label">Предмети</label><br />
                <select asp-for="selectedSubjects" asp-items="Model.SubjectNameSL" size="10">
                </select>
            </div>
        </div>
    </div>
</form>

@* Display the name of the selected file *@
@* Відображення назви вибраного файлу *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
