@page
@model sms.Pages.Teachers.CreateModel

@{
    ViewData["Title"] = "Створити";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Створити</h1>

<h4>Вчитель</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.Patronymic" class="control-label"></label>
                <input asp-for="Teacher.Patronymic" class="form-control" />
                <span asp-validation-for="Teacher.Patronymic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
