@page
@model LockoutModel
@{
    ViewData["Title"] = "Призупинено";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Цей обліковий запис тимчасово призупинено, будь ласка, спробуйте пізніше.</p>
</header>
