@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підвердження реєстрації";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Цей додаток наразі не має зареєстрованого розсилача листів, прочитайте <a href="https://aka.ms/aspaccountconf">ці інструкції</a> щодо конфігурації розсилача листів.
    Зазвичай підтвердження надсилають поштою: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисніть тут, щоб підтвердити свій обліковий запис</a>
</p>
    }
    else
    {
<p>
        Будь ласка, перевірте пошту, щоб підтвердити свій обліковий запис.
</p>
    }
}
