<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sms</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><i class="fa fa-school"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (ViewContext.HttpContext.User.IsInRole("Адміністратор"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Адміністратор</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Roles">Повноваження</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Register/StatGrade">Статистика: класи</a>
                                    <a class="dropdown-item" href="/Register/StatSubject">Статистика: предмети</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Teachers/Index">Довідник: вчителі</a>
                                    <a class="dropdown-item" href="/Students/Index">Довідник: учні</a>
                                    <a class="dropdown-item" href="/Grades/Index">Довідник: класи</a>
                                    <a class="dropdown-item" href="/Subjects/Index">Довідник: предмети</a>
                                    <a class="dropdown-item" href="/Curricula/Index">Довідник: навчальний план</a>
                                </div>
                            </li>
                        }

                        @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Вчитель"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Вчитель</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/TimeTable/Index">Розклад уроків: вчителі</a>
                                    <a class="dropdown-item" href="/TimeTable/StudentsTT">Розклад уроків: учні</a>
                                    <a class="dropdown-item" href="/Register/Index">Класний журнал</a>
                                    <a class="dropdown-item" href="/Remote/Index">Дистанційне навчання</a>
                                </div>
                            </li>
                        }

                        @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Батьки"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Батьки</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/TimeTable/StudentsTT">Розклад уроків</a>
                                    <a class="dropdown-item" href="/Remote/Index">Дистанційне навчання</a>
                                    <a class="dropdown-item" href="/Register/StatStudent">Навчальні досягнення</a>
                                </div>
                            </li>
                        }

                        @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Бібліотекар"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Library/Index">Бібліотека</a>
                            </li>
                        }


                        @if (ViewContext.HttpContext.User.IsInRole("Адміністратор") || ViewContext.HttpContext.User.IsInRole("Завгосп"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Equipment/Index">Інвентаризація</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - sms - <a asp-area="" asp-page="/Privacy">Кофіденційність</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/Chart.js/chart.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>*@
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js" integrity="sha512-MbhLUiUv8Qel+cWFyUG0fMC8/g9r+GULWRZ0axljv3hJhU6/0B3NoL6xvnJPTYZzNqCQU3+TzRVxhkE531CLKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
