@page
@model sms.Pages.Equipment.CreateModel

@{
    ViewData["Title"] = "Створити";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Створити</h1>

<h4>Майно</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.Name" class="control-label"></label>
                <textarea rows="3" asp-for="Inventory.Name" class="form-control"></textarea>
                <span asp-validation-for="Inventory.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.InventoryNumber" class="control-label"></label>
                <input asp-for="Inventory.InventoryNumber" class="form-control" />
                <span asp-validation-for="Inventory.InventoryNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.Quantity" class="control-label"></label>
                <input asp-for="Inventory.Quantity" class="form-control" />
                <span asp-validation-for="Inventory.Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.Price" class="control-label"></label>
                <input asp-for="Inventory.Price" class="form-control" />
                <span asp-validation-for="Inventory.Price" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.InventoryDate" class="control-label"></label>
                <input asp-for="Inventory.InventoryDate" class="form-control" />
                <span asp-validation-for="Inventory.InventoryDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Inventory.DecommissionDate" class="control-label"></label>
                <input asp-for="Inventory.DecommissionDate" class="form-control" />
                <span asp-validation-for="Inventory.DecommissionDate" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Створити" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
