@page
@model sms.Pages.Subjects.EditModel

@{
    ViewData["Title"] = "Редагувати";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Редагувати</h1>

<h4>Предмет</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Subject.Id" />
            <div class="form-group">
                <label asp-for="Subject.Name" class="control-label"></label>
                <input asp-for="Subject.Name" class="form-control" />
                <span asp-validation-for="Subject.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Teachers" class="control-label">Вчителі</label><br />
                <select asp-for="selectedTeachers" asp-items="Model.TeacherNameSL" size="10">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index"
       asp-route-pageIndex="@Model.PageIndex"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-currentFilter="@Model.CurrentFilter">
        Назад
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
