@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row justify-content-center">
        <h1>Система управління школою</h1>
    </div>
    <div class="row justify-content-center">
        <img src="~/images/school.jpg" class="img-fluid mw-100 h-auto" alt="Школа">
    </div>
</div>