@page
@model PrivacyModel
@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<h2>Заява про конфіденційність для відвідувачів сайту</h2>

<p>Ваша конфіденційність, а також захист всієї вашої особистої інформації є життєво важливою для нас. Ми зобов'язуємося захищати їх, здійснюючи розумну обережність і використовуючи розумно доступні засоби.</p>

<p>Ми можемо збирати певні особисті дані, такі як ім'я, адреса електронної пошти, країна проживання та будь-яку іншу інформацію, якою ви вирішили поділитися під час використання цього сайту.</p>

<p>ВИ НЕ ЗАБОВ'ЯЗАНІ НАДАВАТИ БУДЬ-ЯКУ ОСОБИСТУ ІНФОРМАЦІЮ, хоча вона може знадобитися у зв'язку з послугами та/або використовувати функції цього сайту.</p>

<p>Ми можемо використовувати певні технології, такі як файли cookies. Ми не використовуємо такі технології для збору особистої інформації, а також не використовуємо будь-які дані, отримані через них, з іншою особистою інформацією для будь-яких інших цілей.</p>

<p>Ми зберігаємо особисту інформацію, яку ви надаєте поки ваш обліковий запис активний. Ви можете завантажити свої особисті дані або видалити їх.</p>

<p>ВАШЕ ПОДАЛЬШЕ ВИКОРИСТАННЯ ЦЬОГО САЙТУ, АБО ЗАСТОСУВАННЯ ІНШОЇ ЙОГО ЧАСТИНИ, ПІДТВЕРДЖУЄ ЩО ВИ ЧИТАЛИ ТА ЗГОДНІ З УМОВАМИ НАШОЇ КОНФІДЕНЦІЙНОСТІ.</p>

